# DATA SCIENCE TOOLS AND ECOSYSTEM

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. PYTHON
3. SQL
4. SCALA

Some of the commonly used libraries used by Data Scientists include:
1. GGPLOT
2. GGALLY
3. VEGAS
4. PANDAS

| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks       |
| RStudio                 |
| VS Code with Python     |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives**:
1.
Create a Jupyter Notebook2.

Insert code and markdown cel3.ls

Share your notebook through GitHub

## Author
  YASH